.header {
    padding: 16px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box
  }
  
  .header-logo {
    width: 159px;
    height: 47px;
  }
  
  
  .header__list {
    display: flex;
    gap: 36px;
    list-style-type: none;
  
  }
  
  .header__link {
    text-decoration: none;
    color: var(--dark)
  }
  
  .header__link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  
  .header__link:active {
    color: var(--orange);
    text-decoration: underline  var(--orange);
    text-underline-offset: 4px;
  }